mixin picture(className, imgName, extension, altName)
  picture(class=className)
    source(srcset=imgPath + imgName + "." + extension, media="(min-width: 768px)",)
    img(src=imgPath + imgName + "-smp" + "." + extension, alt=altName)