.loading 
  img(src="../img/logo-w-2.png", alt="ローディングロゴ").loading__img
main 
  section.fv.scroll-point
    .swiper
      .fv__img.swiper-wrapper
        .swiper-slide 
          img.fv__img-item.pc(src="./img/top-image-1.png", alt="トップ画像1")
          img.fv__img-item.sp(src="./img/sp/top-image-1.png", alt="トップ画像1")
        .swiper-slide
          img.fv__img-item.pc(src="./img/top-image-2.png", alt="トップ画像2")
          img.fv__img-item.sp(src="./img/sp/top-image-2.png", alt="トップ画像2")
        .swiper-slide 
          img.fv__img-item.pc(src="./img/top-image-3.png", alt="トップ画像3") 
          img.fv__img-item.sp(src="./img/sp/top-image-3.png", alt="トップ画像3") 
      .fv__text.section-inner 
        .fv__title.ffE challenge<br>from<br class="sp"> the bottom
        .fv__sub-title 
          span 社会の基礎を支え
          <br>
          span 基礎から世界を変革する会社
        .news 
          .news__title.ffE news
          .news__article 
            date.news__date 2021.06.12
            p.news__tag お知らせ
            a(href="#").news__article-title 新サイトを公開しました。新サイトを公開しました。
  section.service.scroll-point.js_fadein#service
    .section-inner.service__inner
      .service__text 
        h2.section-title.ffE services 
          span.section-title-sub.ffJ 事業内容 
        .section-sub-title 人々の生活基盤を<br>世界最高峰の技術で支える
        p.section-text 私達のモットーは、 「社会基盤から世界をより良くする」こと。<br class="pc">そのために最前線で国家規模のプロフェクトに参画することもあれば、世界各国の技術者、研究者と共に次世代の建設機材の研究開発事業も同時に行うことで、業界の進化の促進を担っています。
        .btn-wrap 
          a.btn(href="#") 事業内容を更に知る
      .service__img 
        img(src="./img/image-services.jpg", alt="サービス画像")
  section.about.scroll-point#about
    .section-inner 
      .about__text.js_fadein
        .about__img-top.sp 
          img(src="./img/sp/image-about-sp.jpg", alt="園崎組について")
        h2.section-title.ffE about
          span.section-title-sub 園崎組について
        p.section-text 園崎組は埼玉県秩父市にて、主に土木工事にて<br class="pc">社会基盤を支える企業になります。<br>また、自社工場において施工に必要とされる<br class="pc">各種資材も生産しており、各業者に提供することで、<br class="pc">社会基盤の構築・整備に貢献しております。
        .btn-wrap 
          a.btn(href="#")
            span 詳しく見る 
        .about__img.pc
          img(src="./img/image-about.jpg", alt="aboutのイメージ")
  section.works.scroll-point.js_fadein#works
    .section-inner 
      h2.section-title.ffE works 
        span.section-title-sub 園崎組の実績
      .section-sub-title.js_fadein 社会を基礎から、<br class="sp">変革してきたプロジェクト
      p.section-text 創業以來より培われた確かな技術力で社会を変革する様々な案件を手掛けてきました。<br class="pc">その一部を紹介させていただきます。
      .grid-col2.mt47 
        .card.js_fadein
          .card__img
            img(src="/img/image-works-1.jpg", alt="施工実績")
            span.card__tag 01
          .card__wrap 
            .card__title 施工実績
            .card__text 東南アジア某国での国家規模のプロジェクトに参画した際の園崎組のプロジェクトストーリーを記載しています。
        .card.js_fadein
          .card__img 
            img(src="./img/image-works-2.jpg", alt="商品納入実績")
            span.card__tag 02
          .card__wrap 
            .card__title 商品納入実績
            .card__text 土木・建設資材のプロフェッショナルとして、現場で必要となる各種資材を提供しています。
      .btn-wrap 
        a.btn(href="#")
          span 実績一覧を見る 
  section.recruit.scroll-point.js_fadein#recruit
    .section-inner 
      h2.section-title.ffE recruit 
        span.section-title-sub 採用情報
      .grid-col3 
        .box.js_fadein
          .box__img 
            img(src="./img/image-recruit-1.jpg", alt="園崎組を知る")
            .box__title 園崎組を知る
        .box.js_fadein
          .box__img 
            img(src="./img/image-recruit-2.jpg", alt="園崎組の1日")
            .box__title 園崎組の1日
        .box.js_fadein
          .box__img 
            img(src="./img/image-recruit-3.jpg", alt="求める人物像")
            .box__title 求める人物像
      .btn-wrap.js_fadein
        a(href="#").btn エントリーはこちら 
  section.contact.scroll-point.js_fadein#contact
    .section-inner 
      h2.section-title.ffE contact
        span.section-title-sub お問い合わせ
      p.section-text.js_fadein 園崎組では一般的な施工から特注部品、機械の開発・製造まで一貫して対応しております。<br>お気軽にご連絡ください。
      .btn-wrap.js_fadein
        .btn 施工のご相談
        .btn 特注制作のご相談