extend layouts/_default
append value
  - const title = "株式会社 園崎組";
  - const description = "社会の基礎を支え、基礎から世界を変革する会社「園崎組」のホームページです。";
  - const keywords = "園崎組,施工会社";
  - const path = ".";
  - const location = "top";

block header
  include components/layout/_header

block main
  include components/project/_main

block footer
  include components/layout/_footer

block js
  include components/layout/_js