section.footer 
  .section-inner 
    .footer__left 
      .footer__logo 
        img(src="/img/logo-w-2.png", alt="ロゴ")
      .footer__address
        p.footer__address-cont 
          span 株式会社 園崎組<br>
          span 〒000-000<br class="pc">
          span 埼玉県秩父市×××××××××××<br>
          span TEL 0494-00-0000<br>
          span FAX 000-0000-0000
    .footer__right 
      ul.footer__nav 
        li.footer__nav-item 
          a.footer__nav-link(href="#") トップ 
        li.footer__nav-item 
          a.footer__nav-link(href="#service") 事業内容 
        li.footer__nav-item 
          a.footer__nav-link(href="#about") 園崎組について 
        li.footer__nav-item
          a.footer__nav-link(href="#works") 園崎組の実績 
        li.footer__nav-item.margin-edit
          a.footer__nav-link(href="#recruit") 採用
        li.footer__nav-item 
          a.footer__nav-link(href="#contact") お問い合わせ
.copy Copyright © SONOZAKI CO.LTD All Rights Reserved.