header.header#header
  .header-logo 
    a.header-logo__img(href="#") 
      img(src="img/logo-w-2.png", alt="ヘッダーロゴ")
  nav.header-menu
    ul.nav-menu 
      li.nav-menu__item 
        a.nav-menu__link(href="/") トップ
          span.ffE top
      li.nav-menu__item
        a.nav-menu__link(href="#service") 事業内容
          span.ffE service
      li.nav-menu__item
        a.nav-menu__link(href="#about") 園崎組について
          span.ffE about
      li.nav-menu__item
        a.nav-menu__link(href="#works") 園崎組の実績
          span.ffE works
      li.nav-menu__item
        a.nav-menu__link(href="#recruit") 採用情報
          span.ffE recruit
      li.nav-menu__item
        a.nav-menu__link(href="#contact") お問い合わせ
          span.ffE contact
  .hamburger.sp
    span 
    span 
    span 
