header.header
  .header__left
    .logo
      img(src="", alt="")
  .header__right
    nav
      ul.nav
        li.nav__item
          a(href="#") item1
        li.nav__item
          a(href="#") item2
        li.nav__item
          a(href="#") item3
        li.nav__item
          a(href="#") item4
